<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <script src='jquery-1.11.3.js'></script>
        <script>$(document).ready(function() {
            $("#hide").click(function() {
                $("#first_player").hide();
            });
            $("#hide2").click(function() {
                $("#second_player").hide();
            });

        });
        </script>

        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <div class='container'>
            <h1>Play Rock Paper Scissors!</h1>
            <form action='/waiting'>
                <h2>Player 1: Please select your weapon...</h2>
                    <div id='first_player'>
                    <select name='player1'>
                        <option value='rock'>ROCK</option>
                        <option value='paper'>PAPER</option>
                        <option value='scissors'>SCISSORS</option>
                    </select>
                    <button id='hide' class='btn btn-danger' type='button'>Hide</button>
                    </div>

    <br><br>

                    <div id='second_player'>
                    <h2>Player 2: Pick your poison...</h2>
                    <select name='player2'>
                        <option value='rock'>ROCK</option>
                        <option value='paper'>PAPER</option>
                        <option value='scissors'>SCISSORS</option>
                    </select>
                    <button id='hide2' class='btn btn-danger' type='button'>Hide</button>
                    </div>

                <br>
                <br>
                <button type="submit" class='btn btn-success'>Play!</button>
            </form>
        </div>
    </body>
</html>
