<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Winner...</title>
        <meta http-equiv='refresh' content='3; url=/winners?winner={{ output }}'>
    </head>
    <body>
        <div class='container'>
            <h1>Drumroll please...</h1>
        </div>
    </body>
</html>
